[MASTER]
jobs=0

[FORMAT]
max-line-length=121

[BASIC]
good-names=i,
           j,
           k,
           f,
           ex,
           log

[MISCELLANEOUS]
notes=FIXME,
      XXX,
      TODO,
      000
